{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

     <div class="container">
    <div class="row justify-content-md-center">
        <div class="formcard">
            <br/>
            <h2 class="card-title">Votre Annonce de trajet</h2>
            <div class="card">



                <div class="card-body">
                    <form class="contact-from" method="post"> {% csrf_token %}

                                {{ form | crispy }}



									<button class="site-btn" type="submit">Envoyer</button> <br/>



						</form>
                </div>

            </div>
        </div>
    </div>
    </div>


{% endblock %}