{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <div class="row justify-content-md-center">
        <div class="formcard">
            <div class="card">

                    <h2 class="card-title">Contactez nous afin de devenir transporteur</h2>

                <div class="card-body">
                    <form class="contact-from">
							<div class="row">
								<div class="col-md-6">
									<input type="text" placeholder="Nom">
								</div>
								<div class="col-md-6">
									<input type="text" placeholder="Email">
								</div>
								<div class="col-md-12">
									<input type="text" placeholder="Sujet">
									<textarea placeholder="Message"></textarea>
									<button class="site-btn">Envoyer</button>
								</div>
							</div>
						</form>
                </div>

            </div>
        </div>
    </div>
    </div>


{% endblock %}