{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

     <div class="container">
    <div class="row justify-content-md-center">
        <div class="formcard">
            <div class="card">

                    <h2 class="card-title">Inscription Client</h2>

                <div class="card-body">
                    <form class="contact-from" method="post" action="{% url 'register' %}"> {% csrf_token %}

                                {{ form | crispy }}



									<button class="site-btn" type="submit">Inscription</button> <br/>
                                    <a href="{% url 'contact' %}" class="">Vous souhaiter devenir transportaur?</a> <br/>
                                    <a href="{% url 'login' %}" class="">Vous avez deja un compte?  Connecter vous</a>


						</form>
                </div>

            </div>
        </div>
    </div>
    </div>


{% endblock %}